html * {
  padding: 0;
  margin: 0;
}

html, body, #app {
  height: 100%;
  overflow: scroll;
}

.Message {
  color: white;
  font-size: 1.1em;
  background-color: #26CF28;
  margin: 8px 0;
  padding: 12px;
  border-radius: 4px;
  font-family: arial;
}

.message:last-child {
  margin-bottom: 8em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background-color: #E2E4E3;
  padding: 1em;
}

.form {
  display: flex;
  justify-content: center;
}

.join {
  padding: 40px;
}

.join > * {
  display: block;
  margin: 0 auto;
}

.join input {
  font-size: 1.5em;
}

.join button {
  padding: 8px;
  margin-top: 12px;
  background: transparent;
  border: solid 1px black;
  transition: .25s ease;
  max-width: 250px;
  width: 100px;
}
.join button:hover {
  width: 500px;
  cursor: pointer;
}

.text-input {
  width: 60%;
  padding: .5em;
  font-size: 1.2em;
}

.btn {
  padding-left: 1em;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #303436;
  outline: none;
}

.messages {
  padding: 12px;
  list-style: none;
}


.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align: center;
}
